# Primeiros Exemplos

In [ ]:
print('primeiro programa')
1 \
 + 2
help(print)

# Variáveis

In [ ]:
a = 10
b = 5.2
print(a+b)
a = 'Agora sou uma string!'
print(a)
# print(a + b)

# Comentários

In [ ]:
# aaaaaa
# aaaaaa
# aaaaaa

# minhas variaveis
salario = 3450.45
despesas = 2456.2

"""
Teste comentario
"""

print(salario - despesas)

# print('Fim')
print('Fim de verdade') # Test fim

# Operadores Aritméricos

In [ ]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)

print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

a = 12
b = a
print(a + b)

In [ ]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2

# Reposta
percentual_comprometido = despesas / salario * 100
percentual_comprometido

# Operadores Relacionais

In [ ]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2' # compara tipos

# Operadores de Atribuição

In [ ]:
a = 3
a = a + 7
print(a)

a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 127
print(a)

Operadores Lógicos

True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False

# Tabela verdade do OR
True or True
True or False
False or True
False or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not not -1
not not True

# Cuidado
True & False
False | True
True ^ False

# AND Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2


# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# XOR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 3900

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

In [ ]:
# Desafio Operadores Lógicos

# Os trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmando os 2: TV 50" + Sorvete
- Confirmando apenas 1: TV 32" + Sorvete
- Nenhum confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #xor
mais_saudavel = not sorvete

print("Tv50={} Tv32={} Sorvete={} Saudavel={}".format(tv_50, tv_32, sorvete, mais_saudavel))
"{1}, {2} = {0}".format(1, False, 'resultado')

# Operadores Unários

In [ ]:
a = 3
++a
a = -a

not 0
not 1
not -2
not False
not not True

a += 1 # Atribuição Aditiva

# Operadores Ternários

In [ ]:
esta_chuvendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chuvendo])
print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

# Mais operadores

In [ ]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1,2,3]
lista_b = lista_a
lista_c = [1,2,3] # Está apontando para um local de memória diferente, é uma lista independente

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

# Builtins

In [3]:
type(1)
__builtins__.type('Hello world')
__builtins__.print(10/3)
# __builtins__.help(__builtins__.dir)
# dir()
# a = 7
# import math
dir(__builtins__)
nome = 'Joao da Silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Conversão de Tipos

In [1]:
2 + 3
'2' + '3'
# 2 + '3'

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

# print(2 + int('2 legal'))
print(2 + int('3.4'))

<class 'int'>
<class 'str'>
5
23

ValueError: invalid literal for int() with base 10: '3.4'

# Coerção Automática

In [5]:
10 / 2
type(10 / 2)
10 / 3
type(10 // 2)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [26]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [11]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 1.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)
dir()

['Decimal',
 'In',
 'Out',
 '_',
 '_1',
 '_10',
 '_2',
 '_3',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'decimal',
 'exit',
 'get_ipython',
 'getcontext',
 'quit']

# Tipo String

In [30]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'p' -> str é imultável

# 'marca d'agua'
"Dias D'Avila" == 'Dias D\'Avila' # \ é interpretada como scaping, próximo caracter interpretado especial
texto = 'Texto entre apostrófos pode ter "aspas"'
"Teste \" funcional!"

doc = """Texto com múltiplas 
...\t linhas"""
# print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
print(doc2)

Também é possível
... com 3 aspas simples

In [50]:
nome = 'Ana Paula'
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [73]:
frase = 'Python é uma linguagem excelente'
'py' not in frase # operador membro
'ing' in frase
len(frase)
'py' in frase.lower()
frase.lower()
frase = frase.upper()
frase
frase.split()
frase.split('E')

# dir(str)
# help(str.center)

Help on method_descriptor:

center(self, width, fillchar=' ', /)
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [85]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Lista

In [15]:
lista = []
type(lista)
dir(list)
#help(list)
len(lista)
lista.append(1)
lista.append(5)
lista.append([1, 2, 3])
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista.remove(5)
nova_lista.reverse()
nova_lista
lista

[1, 5, [1, 2, 3]]

In [27]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [38]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3] # Elementos do indice 1 ate 2
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
del lista[1:]
lista

['Ana']

# Tupla

In [56]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tuple)
tupla = ('um')
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('azul')
len(cores)

4

# Dicionário

In [75]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags', [])

[]

In [81]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

# Conjunto

In [100]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('codddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operacoes
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1 # Verificando se c2 está contido em c1
c1 >= c2
{1, 2, 3} - {2, 3}
c1 - c2
c1 -= {2}
c1

{'d', 'o', 'c', 'r', '3'}
True True

{1, 3}

# Interpolação

In [125]:
from string import Template

nome, idade = 'Ana', 30
print('Nome: %s Idade: %d' % (nome, idade)) # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade} {2 ** 8 + 1}') # python >= 3.6

s = Template('Nome: $n Idade: $idade')
print(s.substitute(n=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30 257
Nome: Ana Idade: 30